<div class="center main_title">Check Numbers</div>
<div class="center secondary_title">Last Number Called: <%= last_call %></div>
<table id="check_numbers" class="center">
  <thead></thead>
  <tbody>
  <tr>
    <% for (var i = 1; i < max_ball + 1; i++) { %>
      <% if ( i%10 === 1 ) { %>
        </tr><tr>
      <% } %>
      <td><span class="check_nums <% if ( drawn_balls[i] ) { %>drawn<% } else { %>undrawn<% } %>">&nbsp;<%= i %>&nbsp;</span></td>
    <% } %>
  </tr>
  <tbody>
</table>
<div class="center option_buttons">
<% if ( calling_for_house ) { %>
  <button id="house_ok" class="ok">OK</button>
  <button id="house_call_bad" class="bad_call">Bad Call</button>
  <button id="new_game" class="new_game">New Game</button>
  <button id="quit" class="quit">Quit Game</button>
<% } else { %>
  <button id="line_ok" class="ok">OK</button>
  <button id="line_call_bad" class="bad_call">Bad Call</button>
  <button id="quit" class="quit">Quit Game</button>
<% } %>
</div>