<div id="ball"></div>
<button id="draw" class="draw">Draw Ball</button>
<% if ( calling_for_house ) { %>
  <button id="call" class="call">House</button>
<% } else { %>
  <button id="call" class="call">Line</button>
<% } %>