<% if ( ball ) { %><img src="gfx/balls/ball_<%= ball %>.png" alt="<%= ball %>" title="<%= ball %>"/><% } %>
<button id="draw">Draw Ball</button>
<% if ( calling_for_house ) { %>
  <button id="house_called">House</button>
<% } else { %>
  <button id="line_called">Line</button>
<% } %>