<div class="center float_left option_buttons">
<button id="draw" class="draw">Draw Ball</button>
<% if ( calling_for_house ) { %>
  <button id="call" class="call">House</button>
<% } else { %>
  <button id="call" class="call">Line</button>
<% } %>
</div>
<div class="clear_floats"></div>
<div id="ball"></div>
