<div id="main_content">
<div class="center main_title">Bingo Caller</div>

<div class="center">
  <div class="center switches">
   <div class="float_left switches switch_label">Calls: </div>
   <div class="onoffswitch float_left">
    <input type="checkbox" name="calls_on" class="onoffswitch-checkbox" id="calls_on" checked>
    <label class="onoffswitch-label" for="calls_on">
      <div class="onoffswitch-inner"></div>
      <div class="onoffswitch-switch"></div>
    </label>
   </div>
  </div>
  <div class="clear_floats"></div>
  <div class="center switches">
   <div class="float_left switches switch_label">Default Max Ball: </div>
   <div class="onoffswitch float_left">
    <input type="checkbox" name="default_ball_count" class="onoffswitch-checkbox" id="default_ball_count" checked>
    <label class="onoffswitch-label" for="default_ball_count">
      <div class="onoffswitch-inner"></div>
      <div class="onoffswitch-switch"></div>
    </label>
   </div>
   <div class="clear_floats"></div>
   <div id="max_draw_select" class="center switches hidden">
   <label for="max_draw">Max draw number:</label><select id="max_draw" name="name"><% for ( var i = 1; i < 91; i++ ) { %><option value="<%= i %>"<% if ( i === 90 ) { %> selected="selected"<% } %>><%= i %></option><% } %></select>
   </div>
  </div>
  <div class="clear_floats"></div>
</div>

<div class="centre option_buttons">
  <button id="begin_line" class="line_and_house">Start Line &amp; House Game</button>
  <button id="begin_fh" class="house_only">Start House Only Game</button>
  <button id="quit" class="quit">Quit</button>
</div>
</div>
