<div id="main_content">
<h1>Bingo Caller</h1>

<p>
  <label for="max_draw">Max draw number:</label><select id="max_draw" name="name"><% for ( var i = 1; i < 91; i++ ) { %><option value="<%= i %>"<% if ( i === 90 ) { %> selected="selected"<% } %>><%= i %></option><% } %></select>
</p>

<p>
  <button id="begin_line" class="line_and_house">Start Line &amp; House Game</button>
  <button id="begin_fh" class="house_only">Start House Only Game</button>
  <button id="quit" class="quit">Quit</button>
</p>
</div>
