.check_nums {
  font-size:40px;
}

.hidden {
  display:none;
}

.drawn {
  color: red;
}

.call {
  margin-left:35%;
}

h1, h2, h3 {
  margin-left:35%;
}

body {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

table {
  margin-left:30%;
}


#ball {
  margin-left:10%;
}

button {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #050505;
  padding: 10px 20px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 0px solid #000;
  -moz-box-shadow: 4px 3px 3px rgba(0,0,0,0.8), inset 0px 0px 1px #fff;
  -webkit-box-shadow: 4px 3px 3px rgba(0,0,0,0.8), inset 0px 0px 1px #fff;
  box-shadow: 4px 3px 3px rgba(0,0,0,0.8), inset 0px 0px 1px #fff;
  text-shadow: 0px 0px 0px rgba(0,0,0,0.4), 0px 0px 0px rgba(255,255,255,0.3);
}

button.ok, button.draw {
  background: -moz-linear-gradient(top, #27cc1e 0%, #fff 51%, #21cc1e);
  background: -webkit-gradient(linear, left top, left bottom, from(#27cc1e), color-stop(0.51, #fff), to(#21cc1e));
}

button.call {
  background: -moz-linear-gradient(top, #27cc1e 0%, #fff 51%, #21cc1e);
  background: -webkit-gradient(linear, left top, left bottom, from(#27cc1e), color-stop(0.51, #fff), to(#21cc1e));
}

button.house_only, button.new_game {
  background: -moz-linear-gradient(top, #f7e40f 0%, #fff 51%, #f7e40f);
  background: -webkit-gradient(linear, left top, left bottom, from(#f7e40f), color-stop(0.51, #fff), to(#f7e40f));
}
button.line_and_house {
  background: -moz-linear-gradient(top, #f29900 0%, #fff 51%, #f29900);
  background: -webkit-gradient(linear, left top, left bottom, from(#f29900), color-stop(0.51, #fff), to(#f29900));
}
button.quit, button.bad_call {
  background: -moz-linear-gradient(top, #f20020 0%, #fff 51%, #f20020);
  background: -webkit-gradient(linear, left top, left bottom, from(#f20020), color-stop(0.51, #fff), to(#f20020));
}

img.drawn_ball {
  width:90%;
  height:80%;
}

.float_left {
  float:left;
}

.clear_floats {
  clear:both;
}

.onoffswitch {
    position: relative; width: 116px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #000000; border-radius: 50px;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 41px; padding: 0; line-height: 41px;
    font-size: 25px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 14px;
    background-color: #EEEEEE; color: #16F230;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 14px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    width: 31px; margin: 5px;
    background: #A1A1A1;
    border: 2px solid #000000; border-radius: 50px;
    position: absolute; top: 0; bottom: 0; right: 71px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #16F230; 
}


